body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  height: 400px;
}

h1 {
  color: #333;
}

input {
  padding: 4px;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 4px 8px 8px 8px;

  background-color: #eee;
  border-radius: 4px;
  align-items: left;
  text-align: left;
  margin-bottom: 4px;
}

.delete-btn,
.edit-btn {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 4px;
  margin-top: 0px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.edit-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
}

.delete-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
}
@media screen and (max-width: 600px) {
  .edit-input {
    padding: 4px;
    margin-right: 4px;
    width: fit-content;
    height: 14px;
    font-size: 5px;
  }
}
